.aboutme {
  display: flex;
  flex-direction: column;
}
.aboutme h1 {
  text-align: center;
  font-size: 8rem;
  margin: 2rem;
  text-shadow: 2px 2px 5px rgb(63, 61, 86, 0.6);
}

.aboutme p {
  text-shadow: 2px 2px 5px rgba(143, 143, 143, 0.6);
  width: 50%;
  text-align: center;
  font-size: 3.5rem;
  z-index: 2;
  margin: 1rem;
}
a {
  transition: all 0.3s;
}
a:link {
  text-decoration: none;
  color: rgb(63, 61, 86);
}
a:visited {
  color: rgb(63, 61, 86);
}
a:hover {
  text-shadow: 0px 0px 10px rgba(255, 190, 0, 0.6);
}
.aboutme-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-left {
  padding: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  float: left;
}
.about-left h1 {
  font-size: 4rem;
}

.about-right {
  position: relative;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  float: right;
}
.single-skill {
  z-index: 2;
  margin: 2rem 0;
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
}
.skill-logo {
  width: 20%;
  height: 20%;
}
.skill-logo img {
  width: 80%;
  height: 80%;
}
.skill-rate {
  width: 80%;
  height: 20%;
}
.skill-rate img {
  width: 80%;
  height: 80%;
}

.single-skill > * {
  margin: 0 2rem;
}
.skill-svg-container {
  position: absolute;
  width: 90%;
  height: 100%;
}
.skill-svg-container img {
  margin: 0 2rem 0 0;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media only screen and (max-width: 1580px) {
  .aboutme p {
    font-size: 2.6rem;
  }
  .single-skill {
    margin: 1.8rem 0;
  }
  .skill-logo {
    width: 15%;
    height: 15%;
  }
  .skill-logo img {
    width: 100%;
    height: 100%;
  }
  .skill-rate {
    width: 70%;
    height: 15%;
  }
  .skill-rate img {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 1300px) {
  .aboutme p {
    font-size: 2.5rem;
  }
  .skill-svg-container {
    display: none;
  }
}
@media only screen and (max-width: 1100px) {
  .aboutme p {
    font-size: 2.3rem;
  }
}
@media only screen and (max-width: 700px) {
  .about-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .about-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: auto;
  }
  .aboutme p {
    text-align: center;
  }
  .about-svg-container {
    display: none;
  }
  .skill-svg-container {
    display: none;
  }
  .aboutme-container {
    display: flex;
    flex-direction: column;
  }
  .single-skill {
    width: 50%;
  }
}
